<div class="row">
    <div>
    	<button 
        	class="btn btn-success" 
        	[class.activeOption]="_remoteMode"
        	(click)="update('_remoteMode')">
        	<i class="fa fa-wifi" aria-hidden="true"></i>
        	<span>Remote Mode</span>
      	</button>
    </div>
    <br>
    <div>
    	<button 
        	class="btn btn-success" 
        	[class.activeOption]="_lizardSpockMode"
        	(click)="update('_lizardSpockMode')">
        	<i class="fa fa-hand-lizard-o" aria-hidden="true"></i>
        	<i class="fa fa-hand-spock-o" aria-hidden="true"></i>
        	Lizard Spock Mode
      	</button>
    </div>
</div>